<% content_for :h1 do %>
	Editing quiz: <em><%= @quiz.title %></em>
<% end %>

<%= form_for @quiz, :html => {:multipart => true} do |f| %>
	<dl class="form">
		<dt><%= f.label :title %></dt>
		<dd><%= f.text_field :title, {:placeholder => "\"U.S. Capitals,\" e.g."} %></dd>
	</dl><br>
	
	<dl class="form">
		<dt><%= f.label :time_limit, "Time limit" %> 
			<span style="font-weight: normal">
				of <%= select(:quiz, :time_limit, (1..15).collect {|i| ["#{i}:00", i]}) %> minute<span id="minute-s">s</span>
			</span>
		</dt>
	</dl><br>
	
	<dl class="form">
		<dt><%= f.label :description, "Description / Special Instructions" %>
		<dd><%= f.text_area :description %></dd>
	</dl><br>
	
	<dl class="form">
		<dt>Questions</dt>
	</dl>
	
	<div id="questions" style="margin-top: 10px;">
		<%= f.fields_for :questions do |question_form| %>
		<div class="question next">
			<dl class="form questions">
				<dd class="half">
					<%= question_form.text_field :prompt, {
						:placeholder => "Prompt/hint (optional)",
						:class => "prompt"
					  } %>
					</dd>
				<dd class="half rt">
					<%= question_form.text_field :permissible_answers, {
						:placeholder => "Permissible answers, separated by pipe | characters.", 
						:class => "permissibles", 
						:value => question_form.object.permissible_answers.join("| ")
					  } %>
				</dd>
				<a href="#" class="remove_existing_question" style="float: left;" tabindex="-1">(rm)</a>
			</dl>
		<br><br><br>
		</div>
		<% end %>
		
	</div>
	
	<a href="#" id="add_question">+ Add a question</a> or <a href="#" id="csv_add">attach a CSV file</a> <span id="file_field" style="display: none;"><%= file_field "csv", "file" %></span><br>
	
	<br>
	<div class="form-actions">
		<button type="submit" class="classy js-oneclick">
			<span>Save Quiz</span>
		</button>
	</div>
<% end %>