<% content_for :h1 do %>
	All quizzes (<a href="/quizzes/new">create a new quiz</a>)
<% end %>

<div id="commit" style="margin-top: 25px;">
	<% @quizzes.each do |quiz| %>
	<div class="envelope commit" quiz_id="<%= quiz.id %>">
		<div class="human">
			<div class="title">
				<a href="#" class="remove_quiz" qid="<%= quiz.id %>">[x]</a> <%= quiz.title %>
			</div>
			<div class="description">
				<%= truncate(quiz.description, :length => 233) %>
			</div>
			<div class="date">
 					<abbr class="relatize relatized">played <%= pluralize(quiz.play_count, "time") %>&mdash;last played <%= begin time_ago_in_words(quiz.last_played) rescue "eons" end %> ago</abbr>
			</div>
		</div>
		<div class="machine">
			questions&nbsp;&nbsp;<span><%= quiz.questions.length %></span><br>
			avg score&nbsp;&nbsp;<span><%= (quiz.avg_score ? number_to_percentage(quiz.avg_score * 100, :precision => 2) : "--") %></span><br>
			fastest&nbsp;&nbsp;&nbsp;&nbsp;<span><%= pretty_time(quiz.fastest_time || quiz.time_limit * 60) %> <span style="color: #888">(<%= quiz.time_limit %>:00)</span></span>
		</div>
	</div>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$(".remove_quiz").click(function() {
			var qid = $(this).attr("qid");
			var confirmed = confirm("Are you sure you'd like to delete quiz " + qid + "?");
			if (confirmed) {
				$.post("/quizzes/destroy", {id: qid},
					function(ret) {
						if (ret == "OK") $(".quiz_list[qid=" + qid + "]").remove();
				})
			}
			return false;
		});
		
		$(".envelope").click(function() {
			window.location = "/quizzes/edit/" + $(this).attr("quiz_id");
		});
	})
</script>