<% content_for :extra_head do %>
	<%= javascript_include_tag "#{Domain.url}:8080/application.js" %>
<% end %>

<% content_for :h1 do %>
	<%= @quiz.title %>
<% end %>

<% content_for :sub_h1 do %>
	<%= truncate(@quiz.description, :length => 250) %>
<% end %>

<% content_for :top_right do %>
	<li class="clock">
		<span></span>
	</li>
<% end %>

<div class="news" style="opacity: 0; position: absolute;">
	<%= render "play/game_area" %>
</div>

<%= render "play/leaderboard" %>

<% content_for :page_scripts do %>
	<%= render "play/quiz_js" %>
<% end %>

<div id="countdown_container" style="position: absolute; z-index: 100; display: block; text-align: center; margin:0 auto; display: none; top: 100px;">
	<div id="countdown_clock" style="font-size: 130px; font-weight: bold; color: #aaa;"><span>9</span></div>
</div>