<% content_for :extra_head do %>
	<%= javascript_include_tag "http://localhost:8080/application.js" %>
	<script type="text/javascript">
		$(document).ready(function() {
			answers = <%= raw(@quiz.answer_map.to_json) %>;
			n_questions = <%= @quiz.questions.length %>;
			dash_hash = "<%= @dash_hash %>";
			quiz_id = "<%= @quiz.id %>";
			jug = new Juggernaut;
			seen = {};
			dash = {};
		});
	</script>
<% end %>

<% content_for :h1 do %>
	<a href="/">quizzes</a> &rarr; <a href="/jsomers">words</a> &rarr; <a href="https://github.com/jsomers/quizdash">fill in the blank</a> &rarr; <strong><a href="https://github.com/jsomers/quizdash">6-letters</a></strong>
<% end %>

<% content_for :top_right do %>
	<li class="clock">
		There is <span>01:56</span> left
	</li>
<% end %>

<div class="news">
	<%= render "play/inputs" %>

	<ul id="chats">

	</ul>
</div>
	
	<%= render "play/leaderboard" %>