<% content_for :extra_head do %>
	<%= javascript_include_tag "http://localhost:8080/application.js" %>
<% end %>

<% content_for :h1 do %>
	<div style="text-align: center; font-size: 24px;"><%= @quiz.title %></div>
<% end %>

<% content_for :sub_h1 do %>
	<div style="height: 30px; text-align: center; color: #99A7AF; font-size: 16px;">You will have <%= pluralize(@quiz.time_limit, "minute") %> to fill in <%= pluralize(@quiz.questions.length, "blank") %></div>
<% end %>

<% content_for :top_right do %>
	<li class="clock">
		
	</li>
<% end %>

<div class="news" style="display: none;">
	<%= render "play/game_area" %>
</div>

<div class="description">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<%= render "play/leaderboard" %>

<% content_for :page_scripts do %>
	<%= render "play/quiz_js" %>
<% end %>

<div id="countdown_container" style="position: absolute; z-index: 100; display: block; text-align: center; margin:0 auto; display: none; top: 100px;">
	<div id="countdown_clock" style="font-size: 130px; font-weight: bold; color: #aaa;"><span>9</span></div>
</div>