<% content_for :h1 do %>
	Quiz Dash&mdash;real-time multiplayer quiz races.
<% end %>

<% content_for :sub_h1 do %>
	(Click on a quiz below to start playing!)
<% end %>

<div id="commit" style="margin-top: 25px;">
	<% @quizzes.each do |quiz| %>
	<div class="envelope commit" quiz_url="<%= quiz.url %>">
		<div class="human">
			<div class="title">
				<%= quiz.title %>
			</div>
			<div class="description">
				<%= truncate(quiz.description, :length => 233) %>
			</div>
			<div class="date">
 					<abbr class="relatize relatized">played <%= pluralize(quiz.play_count, "time") %>&mdash;last played <%= time_ago_in_words(quiz.last_played) %> ago</abbr>
			</div>
		</div>
		<div class="machine">
			questions&nbsp;&nbsp;<span><%= quiz.questions.length %></span><br>
			avg score&nbsp;&nbsp;<span><%= (quiz.avg_score ? number_to_percentage(quiz.avg_score * 100, :precision => 2) : "--") %></span><br>
			fastest&nbsp;&nbsp;&nbsp;&nbsp;<span><%= pretty_time(quiz.fastest_time || quiz.time_limit * 60) %> <span style="color: #888">(<%= quiz.time_limit %>:00)</span></span>
		</div>
	</div>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$(".envelope").click(function() {
			window.location = "/play/quiz/" + $(this).attr("quiz_url");
		})
	})
</script>